<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <i class="fad fa-home"></i>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Administracion
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item " href="/dashboard">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Panel</strong>
                    <br>
                    <small>Metricas de usuarios y sesiones</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/users">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Usuarios</strong>
                    <br>
                    <small>Gestion de usuarios</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fad fa-users"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/roles">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Roles</strong>
                    <br>
                    <small>Gestion de roles</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fas fa-user-tag"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/sessions">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Sesiones</strong>
                    <br>
                    <small>Detalle de conexiones entrantes</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fas fa-user-circle"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Prestamos
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item " href="/motivos">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Motivos</strong>
                    <br>
                    <small>Razón de retiro de elemento</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fas fa-paperclip"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/documentos">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Documentos</strong>
                    <br>
                    <small>Respaldo formal de retiro de elemento</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fas fa-file-signature"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/prestamos">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Prestamos</strong>
                    <br>
                    <small>Cesión de herramienta o material</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fad fa-user-check"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Personas
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item " href="/personas">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Personas</strong>
                    <br>
                    <small>Designados para ingreso/egreso material</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fas fa-user-alt"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Materiales
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item " href="/consumibles">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Consumible</strong>
                    <br>
                    <small>Insumo consumible con uso</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fad fa-oil-can"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/noconsumibles">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>No Consumibles</strong>
                    <br>
                    <small>Insumo duradero</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fad fa-tools"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item " href="/unidades">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Unidades</strong>
                    <br>
                    <small>Longitud, peso, volumen</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon">
                    <i class="fad fa-ruler-vertical"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>



    <div class="navbar-end">
      <a class="navbar-item" href="#">
        <span class="icon-text">
          <span class="icon">
            <i class="fad fa-user"></i>
          </span>
          <span>
            <%= user.firstName %>
              <%= user.lastName %>
          </span>
        </span>
      </a>
      <a class="navbar-item" href="/logout">
        <span class="icon-text">
          <span class="icon">
            <i class="fad fa-sign-out-alt"></i>
          </span>
          <span>Salir</span>
        </span>
      </a>
    </div>
  </div>
</nav>