<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <section>

        <div class="container is-fluid">
            <div>
                <h1 class="title is-2 mt-4">
                    <%= title %>
                </h1>
            </div>

            <div class="my-4">
                <div class="field">
                    <label class="label">MATERIAL</label>
                    <div class="control">
                        <input class="input" type="text" name="username" id="username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">CANTIDAD</label>
                    <div class="control">
                        <input class="input" type="password" name="password" id="password">
                    </div>
                </div>
                <div class="field">
                    <label class="label">CM</label>
                    <div class="control">
                        <input class="input" type="password" name="password" id="password">
                    </div>
                </div>
                <div class="field">
                    <label class="label">M</label>
                    <div class="control">
                        <input class="input" type="password" name="password" id="password">
                    </div>
                </div>
                <div class="field">
                    <label class="label">CM2</label>
                    <div class="control">
                        <input class="input" type="text" name="email" id="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">LTRS</label>
                    <div class="control">
                        <input class="input" type="text" name="firstName" id="firstName">
                    </div>
                </div>
                <div class="field">
                    <label class="label">DIAMETRO</label>
                    <div class="control">
                        <input class="input" type="text" name="lastName" id="lastName">
                    </div>
                </div>
                <div class="field">
                    <label class="label">MAQUINA</label>
                    <div class="control">
                        <input class="input" type="text" name="lastName" id="lastName">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="../public/js/users/add.js"></script>
</body>

</html>