<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <section>

        <div class="container is-fluid">
            <div>
                <h1 class="title is-2 mt-4">
                    <%= title %>
                </h1>
            </div>

            <div class="my-4">
                <div class="field">
                    <label class="label">IDENTIFICADOR</label>
                    <div class="control">
                        <input class="input" type="text" value="<%= idUnidad %>" name="idUnidad" id="idUnidad" disabled>
                    </div>
                </div>
            
                <div class="field">
                    <label class="label">NOMBRE</label>
                    <div class="control">
                        <input class="input" type="text" name="nombre" id="nombre">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">REFERENCIA</label>
                    <div class="control">
                        <input class="input" type="text" name="referencia" id="referencia">
                    </div>
                </div>
            </div>

            <div class="my-4">
                <button id="save-unidades" type="submit" class="button is-outlined is-danger">Eliminar</button>
                <a class="button is-outlined" href="/unidades">Cancelar</a>
            </div>
        </div>
    </section>

        <script src="../../public/js/unidades/delete.js"></script>
</body>

</html>