<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <section>
        <div class="container is-fluid">
            <div>
                <h1 class="title is-2 mt-4">
                    <%= title %>
                </h1>
            </div>

            <div class="my-6">
                <div class="field">
                    <label class="label">IDENTIFICADOR</label>
                    <div class="control">
                        <input class="input" type="text" value="<%= roleId %>" name="id" id="documentoId" disabled>
                    </div>
                </div>
                <div class="field">
                    <label class="label">CODIGO</label>
                    <div class="control">
                        <input class="input" type="text" name="name" id="name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">NUMERO</label>
                    <div class="control">
                        <input class="input" type="number" name="name" id="name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">DESCRIPCION</label>
                    <div class="control">
                        <input class="input" type="text" name="name" id="name">
                    </div>
                </div>



                <div class="mt-6">
                    <h3 class="subtitle is-5">¿Desea eliminar el documento?</h3>
                    <button id="save-documento" type="submit" class="button is-outlined is-danger">Eliminar</button>
                    <a class="button is-outlined" href="/documentos">Cancelar</a>
                </div>
            </div>
        </div>
    </section>
    <script src="../../public/js/documentos/edit.js"></script>
    <script src="../../public/js/documentos/delete.js"></script>
</body>

</html>